# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.github/
.husky/
.vscode/
coverage/
docker/
docs/
tests/
.editorconfig
.env*
.eslintrc.cjs
.lintstagedrc.mjs
.prettier*
jest*
*.tgz
*.log
template.env
typedoc.json
