# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.github/
.husky/
.vscode/
coverage/
docker/*
!docker/Dockerfile
docs/
tests/
.env*
.eslintrc.cjs
.lintstagedrc.mjs
.prettier*
jest*
*.tgz
*.log
template.env
tsconfig.json
typedoc.json
write-package-constants.mts
