name: Build main
concurrency: 
  group: build-${{ github.ref }}
  cancel-in-progress: true
on:
  push:
    branches:
    - main

jobs:
  build:
    uses: LinkedMink/shared-scripts/.github/workflows/build-npm-package.yml@main
    with:
      uploadBuild: false
